body {
	min-height: 100%;
    background:
		url("/img/tokyo.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.about-me {
	text-align:center;
}




 .btn-default {
	margin:10px  ;
}

.jumbotron {
	opacity: 0.6;
	position:relative;
	top:225px;
	left:500px;
	height:200px;
	width:250px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	
}

p {
	position:relative;
	left:48px;
}

.btn .btn-primary .btn-lg {
	position:relative;
	top:225px;

}

#pics {
	position:relative;
	top:0px;
	left:200px;
	width:900px;
	height: 200px;


}


.caption {
	overflow:auto;
    white-space: nowrap;
    
}

h3 {
	text-align: center;
}

.cash {
	position:relative;
	width: 100%;
	left:10px;
	top: 0px;
	bottom: 0px;
}

.cash2 {
	opacity: 1;
	background-color: rgba(255,255,255,0.0) !important;
	padding-top: 25px !important;
}





