h1 {
	text-align: center;
}

.blocks-1 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;
	
	
}
.blocks-2 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;


	
}
.blocks-3 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;
	

}

.blocks-4 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	top:100px;
	

	
	

}

.blocks-5 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;

	
	
}

.blocks-6 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;
	
	
}

.blocks-7 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;
	
}

.blocks-8 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	
}

.blocks-9 {
	border-color: black;
	border-style: solid;
	height:100px;
	width:125px;
	float:left;
	
}